/******************
GENERAL
******************/

body {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	background: #136a8a;
	background: linear-gradient(to left, #136a8a , #267871);
        
}


/******************
HEADING
******************/

#head {
	background: rgba(255, 255, 255, .4);
	height: 80px;
}

#title {
	text-align: center;
	font-family: helvetica;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto 0;
	padding-top: 20px;
	font-size: 30px;
}


/******************
BODY
******************/

input {
	width: 300px;
	margin: 50px auto;
	display: block;
	font-size: 20px;
	font-family: helvetica;
	outline: none;
	background: rgba(0, 0, 0, .4);
	color: #eaeaea;
	text-indent: 3px;
}

#teddy {
	background: rgba(0, 0, 0, .3);
	position: relative;
}

img {
	border: 10px solid rgba(0, 0, 0, .15);
	margin-left: 20px;
	display: inline;
}

#output {
	width: 40%;
	position: absolute;
	bottom: 220px;
	left: 700px;
	font-family: helvetica;
	color: #dbdbdb;
	height: 350px;
}

h3 {
	font-size: 35px;
	padding-top: 20px;
	padding-bottom: 5px;
	margin: 0;
	opacity: .9;
}

h5 {
	margin: 0;
	font-size: 17px;
	padding-bottom: 15px;
	opacity: .6;
}

p {
	margin-top: 70px;
	text-indent: 30px;
}